:root {
  --gray: #6f7682;
  --blue: #4798de;
  --border: #979595;
  --light: #fff;
  --green: #6cdb7e;
  --light-grey: #f1f2f6;
  --light-opacity75: rgba(255, 255, 255, 0.75);
  --grey-opacity: rgba(241, 242, 246, 0.3);
  --dark-blue: #15244f;
  --dark333: #333333;
  --orange: #ff7101;  
  --green: #6cdb7e;
}
