.brands {
  overflow: hidden;
  padding-top: 50px;
}
.container {
}

.brands__content {
  overflow: hidden;
}

.brands__info {
  position: relative;
  display: flex;
  align-items: end;
  margin-bottom: 70px;
}
.brands__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: var(--dark-blue);
}
.brands__decor {
  position: absolute;
  top: -50px;
  left: 78px;
  font-weight: 700;
  font-size: 110px;
  line-height: 142px;
  color: var(--light-grey);
  z-index: -1;
}
.brands__all {
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: var(--blue);
}
.brands__list {
  display: flex;
  margin-bottom: 30px;
}
.brands__item {
  flex-shrink: 0;
  max-width: 190px;
  width: 100%;
  height: 120px;
}
.brands__link {
}
.brands__img {
  width: 100%;
  height: 100%;
}

.brands__btns {
  max-width: 300px;
  width: 100%;
  height: 45px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.brands__next,
.brands__prev {
  width: 45px;
  height: 45px;
  background: var(--light);
  border: 1px solid var(--light-grey);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
}
.brands__svg {
}

.brands__pagination {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.brands__pagination .brands-pagination-bullet {
  width: 20px;
  height: 7px;
  opacity: 1;
  border-radius: 0;
  background: var(--light-grey);
}

.brands__pagination .swiper-pagination-bullet-active {
  background: var(--blue);
}
