.menu {
  display: flex;
  gap: 40px;
}

.menu__link {
  transition: opacity 0.5s;
  color: var(--gray);
}

.menu__link:hover {
  opacity: 0.5;
}


@media(max-width: 1200px) {
  .menu {
    gap: 11px;
  }
  .menu__link {
    font-size: 13px;
    line-height: 17px;
  }
}

@media(max-width: 767px) {
  .menu {
   display: none;
  }

}