.products {
}
.products__top {
}
.products__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1px;
}
.products__info-link {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light);
  border: 2px solid var(--light-grey);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--gray);
  text-transform: uppercase;
  gap: 9px;
  transition: background 0.5s;
}

.products__info-link:hover {
  background: var(--light-grey);
  color: var(--blue);
}
.products__info-svg path {
  transition: all 0.7s;
}
.products__info-link:hover .products__info-svg path,
.products__info-link:hover .products__info-svg circle {
  stroke: var(--blue);
}

.active-tab .products__info-svg path,
.active-tab .products__info-svg circle {
  stroke: var(--blue);
}
.active-tab {
  background: var(--light-grey);
  color: var(--blue);
}

.products__info-text {
}
.products__list {
  display: flex;
  gap: 64px;
  align-items: center;
  height: 60px;
  background: var(--light-grey);
  border-radius: 5px;
  padding-left: 21px;
  padding-right: 16px;
}
.products__item {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
}

.products__item:hover {
  color: var(--blue);
  text-decoration: underline;
}

/* удалить проверка  */
.products__card-button {
  display: none;
}

.products__card:hover .products__card-button {
  display: flex;
  align-items: center;
}

.products__botton {
  min-height: 500px;
}

.products__cards {
  margin-top: 30px;
  display: none;
  gap: 30px;
}
.products__cards.active-cards {
  display: flex;
}

.products__card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding-bottom: 20px;
}

.products__card-decor {
  position: absolute;
  top: 9px;
  right: 9px;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 6px 12px;
}
.products__card-decor_hit {
  background: #6cdb7e;
  border: 1px solid #6cdb7e;
}
.products__card-decor_new {
  background: #4798de;
  border: 1px solid #4798de;
}
.products__card-decor_discount {
  background: #ed85bf;
  border: 1px solid #ed85bf;
}
.products__card-image {
  max-width: 298px;
  width: 100%;
  height: 224px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.products__card-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 5px;
}
.products__card-box {
  padding: 7.5px 41px 20px 30px;
}
.products__card-name {
  color: var(--gray);
  margin-bottom: 15px;
}
.products__card-brand {
  font-size: 13px;
  line-height: 18px;
  color: var(--gray);
}
.products__card-cantry {
  font-size: 13px;
  line-height: 18px;
  color: var(--gray);
  margin-bottom: 10px;
}
.products__card-stock {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  line-height: 17px;
  color: var(--blue);
  margin-bottom: 20px;
}
.products__card-stock_svg {
}
.products__card-price {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  color: var(--dark-blue);
}
.products__card-button {
}
.products__card-bag {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--light);
  background: var(--blue);
  border-radius: 5px;
  padding: 14px 36px;
  margin-left: 30px;
  margin-right: 35px;
  transition: opacity 0.5s;
}

.products__card-bag:hover {
  opacity: 0.7;
}
.products__card-social {
  display: flex;
  gap: 10px;
  align-items: center;
}
.products__card-link {
}
.prodicts__card-svg {
}
.proucts__card-link {
}
.products__card-svgА {
}

